* {
    box-sizing: border-box;
  }
  
  html,
  body {
    min-height: 100%;
  }
  
  body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 380;
  }
  
  a {
    color: var(--blue);
    &:hover{
      color: var(--black);
    }
    & :visited {
      color: var(--blue);
    }
  }