:root {
    --white: #ffffff;
    --black: #242424;
    --blue: #016DFF;
    --grey: #F0F0F0;
    --orange: #FCB325;
    --green: #19D359;
    --shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
    --corner: 24px;
    --circle: 48px;
    --XLspace:128px;
    --Lspace: 64px;
    --Mspace: 32px;
    --Sspace: 16px;
    --XSspace: 8px;

  }