<div class="S_AllArticles all">
  <div class="O_ArticlesBar">
    <div class="O_FilterContainer">
      <div class="M_CategoryItem button closed" id="CategoryFilterButton">
        <div class="A_Icon all filter"></div>
        <p class="A_CategoryFilterText">все статьи</p>
        <div class="A_SmallArrow"></div>
      </div>

      <div class="W_Filter" id="W_Filter">
        <div class="O_CategoryItemsContainer" id="O_CategoryItemsContainer">
          <div class="M_CategoryItem">
            <div class="A_Icon clean filter"></div>
            <p class="A_CategoryFilterText">уборка</p>
            <div class="A_SmallArrow"></div>
          </div>

          <div class="M_CategoryItem">
            <div class="A_Icon care filter"></div>
            <p class="A_CategoryFilterText">уход</p>
            <div class="A_SmallArrow"></div>
          </div>

          <div class="M_CategoryItem">
            <div class="A_Icon food filter"></div>
            <p class="A_CategoryFilterText">еда&вода</p>
            <div class="A_SmallArrow"></div>
          </div>

          <div class="M_CategoryItem">
            <div class="A_Icon bedroom filter"></div>
            <p class="A_CategoryFilterText">сон&уют</p>
            <div class="A_SmallArrow"></div>
          </div>

          <div class="M_CategoryItem">
            <div class="A_Icon aroma filter"></div>
            <p class="A_CategoryFilterText">ароматы</p>
            <div class="A_SmallArrow"></div>
          </div>

          <div class="M_CategoryItem hide">
            <div class="A_Icon all filter"></div>
            <p class="A_CategoryFilterText">все статьи</p>
            <div class="A_SmallArrow"></div>
          </div>
        </div>
      </div>
    </div>

    <a class="A_LinkAccent RightAlign">шорт-лист вредных веществ -></a>
  </div>

  <div class="O_ArticleCards all" id="AllArticlesContainer">
    
  </div>
</div>
