<div class="S_ArticleModules" id="ArticlesModules">
  <div class="O_LeftSide">
    <a class="A_SmallLink" href="articles.html"> ← к разделу</a>
  </div>
  <div class="O_ArticleText" id="MainText">
    <div class="M_ArticleHeader">
      <div class="A_ArticleName"></div>
      <div class="A_ArticlePublicationInfo"></div>
    </div>
    <div class="A_space"></div>
  </div>

  <div class="O_RightSide">
    <div class="sticky">
      <div id="chapters"></div>
      <a class="M_upButton" href="#top">↑ вверх</a>
    </div>
  </div>
</div>
