<div class="S_Cards Categories">
  <p class="A_SectionName">выбери категорию</p>

  <div class="O_CategoriesCards">
    <a href="articles.html" class="M_CategoryCard">
      <div class="A_Icon care"></div>
      <p class="A_CategoryName">уход</p>
    </a>

    <a href="articles.html" class="M_CategoryCard">
      <div class="A_Icon aroma"></div>
      <p class="A_CategoryName">ароматы</p>
    </a>

    <a href="articles.html" class="M_CategoryCard">
      <div class="A_Icon food"></div>
      <p class="A_CategoryName">еда&вода</p>
    </a>

    <a href="articles.html" class="M_CategoryCard">
      <div class="A_Icon clean"></div>
      <p class="A_CategoryName">уборка</p>
    </a>

    <a href="articles.html" class="M_CategoryCard">
      <div class="A_Icon bedroom"></div>
      <p class="A_CategoryName">сон&уют</p>
    </a>
  </div>

  <a class="A_LinkAccent RightAlign" href="https://drive.google.com/uc?export=download&id=1Yat-JE5QgA1mq6C3jKhtJSotBLH39QRr">шорт-лист вредных веществ -></a>
</div>
