<div class="S_Footer">
  <div class="Links1">
    <a href="articles.html">еда&вода</a>
    <a href="articles.html">уход</a>
    <a href="articles.html">уборка</a>
    <a href="articles.html">сон.уют</a>
    <a href="articles.html">ароматы</a>
  </div>

  <div class="Links2">
    <a href="https://drive.google.com/uc?export=download&id=1Yat-JE5QgA1mq6C3jKhtJSotBLH39QRr">шорт-лист вредных веществ</a>
    <a href="search.html">проверить продукт</a>
    <a href="index.html#Onboarding">c чего начать</a>
    <a href="#Feedback"> предложить материал</a>
  </div>

  <div class="A_Logo footer white"></div>

  <div class="A_SocialBar footer">
    
    <a class="inst white" href="#"></a>
    <a class="tg white" href="#"></a>
    <a class="vk white" href="#"></a>
  </div>
</div>
