<div class="S_Mainscreen">
  <div class="O_Header">
    <a class="A_Logo header white" href="index.html"></a>

    <menu class="M_NavBar">
      <div class="A_HeaderLink">
        <a class="white" href="#Onboarding">с чего начать</a>
      </div>

      <div class="A_HeaderLink category">
        <div class="categorycontainer white">
          <p class="white" id="categorybutton">категории</p>
          <div class="categorylinks hide">
          <a class="blue" href="">уход</a>
          <a class="blue" href="">ароматы</a>
          <a class="blue" href="">еда&вода</a>
          <a class="blue" href="">уборка</a>
          <a class="blue" href="">сон&уют</a>
          <a class="blue" href="">все статьи</a>
        </div>
        </div>
      </div>

      <div class="A_HeaderLink">
        <a class="white" href="#Feedback">предложить материал</a>
      </div>

      <div class="A_HeaderLink">
        <a class="white" href="search.html">проверить товар</a>
      </div>
    </menu>

    <div class="A_SocialBar header">
      <a href="#" class="inst white"></a>
      <a href="#" class="tg white"></a>
      <a href="#" class="vk white"></a>
    </div>
  </div>

  <div class="M_Description">
    <p сlass="Hdef">оцениваем</p>
    <p class="Hbold" id="HAccent">безопасность</p>
    <p сlass="Hdef">популярных</p>
    <p сlass="Hdef">товаров</p>
  </div>

  <a class="M_Mainbutton white CTA" href="search.html">
    <div class="searchicon"></div>
    проверить продукт
  </a>

  <a class="A_LinkAccent" id="onboardinglink" href="#Onboarding"> впервые здесь -></a>
</div>
