<div class="S_Onboarding" id="Onboarding">
  <p class="A_SectionName">с чего начать?</p>

  <div class="O_Onboarding">
    <details class="M_Spoiler">
      <summary class="A_SpoilerSummary">
        какие вещества считают опасными?
      </summary>
      <p class="A_SpoilerContent">
        Опасными являются синтетические химические вещества, которые могут
        вредить здоровью человека и окружающей среде. Опасным вещество делают
        его особенности, которые практически невозможно изменить. Некоторые
        вещества могут сразу вызвать такие проблемы со здоровьем, как
        отравление, аллергию, раздражение кожи, глаз или дыхательных путей.
        Например, гидроксид натрия или каустическая сода, которая входит в
        состав средства для устранения засорения и закупорки труб, попадая на
        кожу, вызывает ожоги.
      </p>
    </details>
    <details class="M_Spoiler">
      <summary class="A_SpoilerSummary">почему стоит беспокоиться?</summary>
      <p class="A_SpoilerContent">
        <b>Скандинавская мифология</b> — мифология древних скандинавов, часть
        древнегерманской мифологии.<br />
        Основным источником сведений о ней являются тексты поэтической
        <b>«Старшей Эдды»</b> и прозаической
        <b>«Младшей Эдды» С. Стурлусона XII века н. э.</b><br />
        Примерно в то же время датский хронист Саксон Грамматик в
        <b>«Деяниях датчан»</b> передаёт многие мифологические сюжеты. Ценные
        сведения о <br />древнегерманской мифологии имеются в
        <b>«Германии» Тацита</b>.
      </p>
    </details>
    <details class="M_Spoiler">
      <summary class="A_SpoilerSummary">
        как люди подвергаются воздействию химических веществ?
      </summary>
      <p class="A_SpoilerContent">
        Скандинавская мифология — мифология древних скандинавов, часть
        древнегерманской мифологии.
      </p>
    </details>
    <details class="M_Spoiler">
      <summary class="A_SpoilerSummary">
        как вредные вещества влияют на окружающую среду?
      </summary>
      <p class="A_SpoilerContent">
        Скандинавская мифология — мифология древних скандинавов, часть
        древнегерманской мифологии.
      </p>
    </details>
    <details class="M_Spoiler">
      <summary class="A_SpoilerSummary">
        почему дети подвергаются большему риску?
      </summary>
      <p class="A_SpoilerContent">
        Скандинавская мифология — мифология древних скандинавов, часть
        древнегерманской мифологии.
      </p>
    </details>
    <details class="M_Spoiler">
      <summary class="A_SpoilerSummary">что я могу сделать?</summary>
      <p class="A_SpoilerContent">
        Скандинавская мифология — мифология древних скандинавов, часть
        древнегерманской мифологии.
      </p>
    </details>
    <details class="M_Spoiler">
      <summary class="A_SpoilerSummary">
        как мне может помочь этот сайт?
      </summary>
      <p class="A_SpoilerContent">
        Скандинавская мифология — мифология древних скандинавов, часть
        древнегерманской мифологии.
      </p>
    </details>
  </div>
</div>
