<div class="S_Cards carosel">
  <p class="A_SectionName">альтернативные продукты</p>

  <div class="O_ArticleCards carosel" >
    <div class="carosel" id="PopularAltItems">
      <!-- <div class="O_ProductCard">
        <div class="A_Mark safe">
          <div class="MarkIcon safe"></div>
          <p class="MarkText safe">чем опасен?</p>
        </div>

        <div class="A_ItemImage"></div>

        <p class="A_ItemName">Fairy – средство для мытья посуды</p>

        <div class="M_ItemInfo hide">
          <div class="A_ItemInfoParagraph">
            <p class="property">агрессивные пав</p>
            <p class="propertydata">
              раздражение глаз, кожи и дыхательных путей
            </p>
          </div>
          <div class="A_ItemInfoParagraph">
            <p class="property">агрессивные пав</p>
            <p class="propertydata">
              раздражение глаз, кожи и дыхательных путей
            </p>
          </div>
          <div class="A_ItemInfoParagraph">
            <p class="property">агрессивные пав</p>
            <p class="propertydata">
              раздражение глаз, кожи и дыхательных путей
            </p>
          </div>
          <div class="A_ItemInfoParagraph">
            <p class="property">агрессивные пав</p>
            <p class="propertydata">
              раздражение глаз, кожи и дыхательных путей
            </p>
          </div>
          <div class="ItemInfoParagraph">
            <p class="property">SLS</p>
            <p class="propertydata">
              раздражение глаз, кожи и дыхательных путей
            </p>
          </div>
        </div>
      </div>
      <div class="O_ProductCard">
        <div class="A_Mark safe">
          <div class="MarkIcon safe"></div>
          <p class="MarkText safe">чем опасен?</p>
        </div>

        <div class="A_ItemImage"></div>

        <p class="A_ItemName short">Fairy – средство для мытья посуды</p>

        <div class="M_ItemInfo hide">
          <div class="A_ItemInfoParagraph">
            <p class="property">агрессивные пав</p>
            <p class="propertydata">
              раздражение глаз, кожи и дыхательных путей
            </p>
          </div>
          <div class="A_ItemInfoParagraph">
            <p class="property">агрессивные пав</p>
            <p class="propertydata">
              раздражение глаз, кожи и дыхательных путей
            </p>
          </div>
        </div>
      </div>
      <div class="O_ProductCard">
        <div class="A_Mark safe">
          <div class="MarkIcon safe"></div>
          <p class="MarkText safe">чем опасен?</p>
        </div>

        <div class="A_ItemImage"></div>

        <p class="A_ItemName">Fairy – средство для мытья посуды</p>

        <div class="M_ItemInfo hide">
          <div class="A_ItemInfoParagraph">
            <p class="property">агрессивные пав</p>
            <p class="propertydata">
              раздражение глаз, кожи и дыхательных путей
            </p>
          </div>
          <div class="A_ItemInfoParagraph">
            <p class="property">агрессивные пав</p>
            <p class="propertydata">
              раздражение глаз, кожи и дыхательных путей
            </p>
          </div>
          <div class="A_ItemInfoParagraph">
            <p class="property">агрессивные пав</p>
            <p class="propertydata">
              раздражение глаз, кожи и дыхательных путей
            </p>
          </div>
          <div class="A_ItemInfoParagraph">
            <p class="property">агрессивные пав</p>
            <p class="propertydata">
              раздражение глаз, кожи и дыхательных путей
            </p>
          </div>
          <div class="ItemInfoParagraph">
            <p class="property">SLS</p>
            <p class="propertydata">
              раздражение глаз, кожи и дыхательных путей
            </p>
          </div>
        </div>
      </div>
      <div class="O_ProductCard">
        <div class="A_Mark safe">
          <div class="MarkIcon safe"></div>
          <p class="MarkText safe">чем опасен?</p>
        </div>

        <div class="A_ItemImage"></div>

        <p class="A_ItemName">Fairy – средство для мытья посуды</p>

        <div class="M_ItemInfo hide">
          <div class="A_ItemInfoParagraph">
            <p class="property">агрессивные пав</p>
            <p class="propertydata">
              раздражение глаз, кожи и дыхательных путей
            </p>
          </div>
          <div class="A_ItemInfoParagraph">
            <p class="property">агрессивные пав</p>
            <p class="propertydata">
              раздражение глаз, кожи и дыхательных путей
            </p>
          </div>
          <div class="A_ItemInfoParagraph">
            <p class="property">агрессивные пав</p>
            <p class="propertydata">
              раздражение глаз, кожи и дыхательных путей
            </p>
          </div>
          <div class="A_ItemInfoParagraph">
            <p class="property">агрессивные пав</p>
            <p class="propertydata">
              раздражение глаз, кожи и дыхательных путей
            </p>
          </div>
          <div class="ItemInfoParagraph">
            <p class="property">SLS</p>
            <p class="propertydata">
              раздражение глаз, кожи и дыхательных путей
            </p>
          </div>
        </div>
      </div>
      <div class="O_ProductCard">
        <div class="A_Mark safe">
          <div class="MarkIcon safe"></div>
          <p class="MarkText safe">чем опасен?</p>
        </div>

        <div class="A_ItemImage"></div>

        <p class="A_ItemName">Fairy – средство для мытья посуды</p>

        <div class="M_ItemInfo hide">
          <div class="A_ItemInfoParagraph">
            <p class="property">агрессивные пав</p>
            <p class="propertydata">
              раздражение глаз, кожи и дыхательных путей
            </p>
          </div>
          <div class="A_ItemInfoParagraph">
            <p class="property">агрессивные пав</p>
            <p class="propertydata">
              раздражение глаз, кожи и дыхательных путей
            </p>
          </div>
          <div class="A_ItemInfoParagraph">
            <p class="property">агрессивные пав</p>
            <p class="propertydata">
              раздражение глаз, кожи и дыхательных путей
            </p>
          </div>
          <div class="A_ItemInfoParagraph">
            <p class="property">агрессивные пав</p>
            <p class="propertydata">
              раздражение глаз, кожи и дыхательных путей
            </p>
          </div>
          <div class="ItemInfoParagraph">
            <p class="property">SLS</p>
            <p class="propertydata">
              раздражение глаз, кожи и дыхательных путей
            </p>
          </div>
        </div>
      </div>
      <div class="O_ProductCard">
        <div class="A_Mark safe">
          <div class="MarkIcon safe"></div>
          <p class="MarkText safe">чем опасен?</p>
        </div>

        <div class="A_ItemImage"></div>

        <p class="A_ItemName">Fairy – средство для мытья посуды</p>

        <div class="M_ItemInfo hide">
          <div class="A_ItemInfoParagraph">
            <p class="property">агрессивные пав</p>
            <p class="propertydata">
              раздражение глаз, кожи и дыхательных путей
            </p>
          </div>
          <div class="A_ItemInfoParagraph">
            <p class="property">агрессивные пав</p>
            <p class="propertydata">
              раздражение глаз, кожи и дыхательных путей
            </p>
          </div>
          <div class="A_ItemInfoParagraph">
            <p class="property">агрессивные пав</p>
            <p class="propertydata">
              раздражение глаз, кожи и дыхательных путей
            </p>
          </div>
          <div class="A_ItemInfoParagraph">
            <p class="property">агрессивные пав</p>
            <p class="propertydata">
              раздражение глаз, кожи и дыхательных путей
            </p>
          </div>
          <div class="ItemInfoParagraph">
            <p class="property">SLS</p>
            <p class="propertydata">
              раздражение глаз, кожи и дыхательных путей
            </p>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
