<div class="O_Header">
  <a class="A_Logo header blue" href="index.html"></a>

  <menu class="M_NavBar">
    <div class="A_HeaderLink">
      <a class="blue" href="index.html#Onboarding">с чего начать</a>
    </div>

    <div class="A_HeaderLink blue category">
      <div class="categorycontainer">
        <p class="blue" id="categorybutton">категории</p>
        <div class="categorylinks hide">
        <a class="white" href="">уход</a>
        <a class="white" href="">ароматы</a>
        <a class="white" href="">еда&вода</a>
        <a class="white" href="">уборка</a>
        <a class="white" href="">сон&уют</a>
        <a class="white" href="">все статьи</a>
      </div>
      </div>
    </div>

    <div class="A_HeaderLink blue">
      <a class="blue" href="#Feedback">предложить материал</a>
    </div>

    <div class="A_HeaderLink blue">
      <a class="blue" href="search.html">проверить товар</a>
    </div>
  </menu>

  <div class="A_SocialBar header">
    <a href="#" class="inst blue"></a>
    <a href="#" class="tg blue"></a>
    <a href="#" class="vk blue"></a>
  </div>
</div>
